AspAppLibrary/.env

# Игнорировать папки сборки и зависимости
**/bin/
**/obj/
**/node_modules/
**/packages/

# Игнорировать пользовательские настройки IDE
.vs/
.vscode/
.idea/

# Игнорировать временные файлы
*.tmp
*.log